*{
    box-sizing: border-box; 
}

body{
    font-family: 'Arial', sans-serif;


    background-color: #bbb;
    margin: 0;
}

div.container{
    margin: auto;
    width: 60%;
}

header{
    background-color: #fff;
    padding: 10px;
}

header *{
    margin: 0;
}

.slogan{
    margin-bottom: 0.5em;
}

header h1 a{
    color: #555; 
    text-decoration: none;
}

header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li{
    display: inline-block;
    list-style-type: none;
    margin: 0;
}

header nav a{
    background-color: #bbb;
    border-radius: 0.2em;
    color : #fff;
    text-decoration: none;
    padding: 0.2em;
}

article{
    background-color: #999;
    padding: 10px;
}

article h2{
    margin-bottom: 0.2em;
}

article *{
    margin:0;
}

footer{
    color: #555;
    background-color: #eee;
    padding: 10px;
}
































